
@font-face {
    font-family: 'sinsum';
    src: url('../fonts/simsun.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{


    /* Paleta de colores */
    --app-color: white;

    --color-primary: #f9f9f9;
    --color-secondary: #f9f9f9;
    --color-tertiary: #f9f9f9;   

    --color-search: #676565;
    
    --color-title-lg: #f9f9f9;
    --color-title-md: #f9f9f9;
    --color-title-sm: #f9f9f9;

    --color-text-lg: #f9f9f9;
    --color-text-md: #000000;
    --color-text-md-light: #f9f9f9;
    --color-text-sm: #f9f9f9;

    --color-border: #E6E6E6;

    --color-hover: #f9f9f9;
    --color-shadow: #f9f9f9;

    --color-btn: #f9f9f9;
    --color-btn-hover: #f9f9f9;

    --color-price: #f9f9f9;
    --color-heart: #f9f9f9;
    --color-cart: #f9f9f9;

    /* Tamaños base */
    --size-title-lg: 2.5rem;
    --size-title-md: 2rem;
    --size-title-sm: 1.5rem;
    --size-title-xs: 1.25rem;

    --size-text-lg: 1.3rem;
    --size-text-md: 1rem;
    --size-text-sm: .9rem;

    /* Fondos */
    --bg-primary: #000000;
    --bg-secondary: #f9f9f9;


    /* Espaciados */
    --spacing-lg: 2rem;
    --spacing-md: 1.5rem;
    --spacing-sm: 1rem;

    /* Fuentes */
    --font-primary: 'sinsum', sans-serif;;
    --font-secondary: 'Roboto', sans-serif;


    /* Breakpoints */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    /* Z-index */
    --z-index-header: 1000;
    --z-index-modal: 2000;

    /* Animaciones */
    --transition: 0.3s ease-in-out;
    --transition-hover: 0.3s ease-in-out;
    --transition-modal: 0.3s ease-in-out;

    /* Border radius */
    --border-rd-lg: 1rem;
    --border-rd-md: 0.5rem;
    --border-rd-sm: 0.25rem;

    /* Box shadow */
    --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 5px 10px rgba(0, 0, 0, 0.1);
    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);

    /* Degradado */
    --gradient-main: linear-gradient(90deg, #f9f9f9 0%, #f9f9f9 100%);
    --gradient-secondary: linear-gradient(90deg, #f9f9f9 0%, #f9f9f9 100%);

}


body, html {
    
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background-color: var(--app-color);
    color: var(--color-text-md);
    color: var(--color-text-md);
}

.sectiond{
    
    width: 100%;
    height: 90vh;
    justify-content: center;
    justify-items: center;
}

.sectiond img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-nav {
    height: 30px;
    width: auto;
}

.nav__container{
    /* border: 1px solid red; */
    
}

.nav__container ul {
    list-style: none;
    padding: 0;    
    margin: 0;
    display: flex;
    align-items: center;
}

.nav__container ul li {
    /* Puedes agregar otros estilos aquí si es necesario */
}

.nav__container ul li a {
    color: var(--color-text-md);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar__responsive {
    border: solid 1px var(--color-border); /* Añade un borde al contenedor */
}

.navbar__responsive ul {
    justify-content: space-between;
    
}

.navbar__responsive ul {
    justify-content: space-between;
}


.nav__desktop{
    padding: 1rem;
    /* border: solid 1px var(--color-border); */
}

.nav__desktop span {
    font-size: var(--size-title-sm);
}

.searchDesktop { /* Este es el div */
    display: inline-flex;   
    align-items: center;
    border: solid 3px var(--color-border);
    border-radius: 5px ;
    padding: 0.3rem;
    margin-left: 1rem;
    width: 62vw;
}

.searchDesktop span {
    font-size: 25px;
    border: solid 3px var(--color-border);
    border-radius: 5px ;
    padding: 0.1rem;
    color: var(--color-border);
}

.searchDesktop input {
    border: none;
    /* quitar border del placesholder */
    outline: none;
    width: 100%;
    font-size: var(--size-title-xs);
    padding-left: 1rem;
    /* cambiar el color del place holder */
    color: var(--color-search);
    font-family: var(--font-primary);
}

.text-nav-icon{
    padding-left: 1rem;
}

.text-nav-logo{
    padding-left: .3rem;
}


.bar__category {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 1rem; /* Añade padding si es necesario */
    border-top: solid 1px var(--color-border); /* Añade borde superior si es necesario */
}

.bar__category ul {
    
    display: flex;
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

.bar__category li {
    margin: 0 1rem; /* Añade margen entre los elementos de la lista */
}

.bar__category a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: var(--bg-primary);
    font-size: var(--size-text-md);
    /* negritas */
    
}


/* Footer */



/* ---------------------------------------------------------------------- */
.nav__responsive {
    position: absolute; /* Posiciona el contenedor de manera absoluta */
    
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    background-color: white; /* Ajusta el color de fondo según sea necesario */
    z-index: 1000; /* Asegura que el contenedor esté por encima de otros elementos */
    
}



.nav__responsive ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */    
    padding: 0; /* Elimina el padding del ul */
    margin: 0; /* Elimina el margen del ul */
    
}

.nav__responsive ul li {
    padding: 0; /* Elimina el padding de los li */
    margin: 0; /* Elimina el margen de los li */
    padding-left: 1rem; /* Mantiene la separación a la izquierda */
    width: calc(100% - 1rem); /* Ajusta el ancho para mantener la separación a la izquierda */
}

.nav__responsive ul li a {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido dentro del enlace */
    padding: 0.5rem 0; /* Ajusta el padding según sea necesario */
}

.nav__responsive ul li details summary {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido dentro del summary */
    cursor: pointer; /* Cambia el cursor al pasar sobre el summary */
}

.nav__responsive ul li details summary span {
    padding-right: 0.5rem; /* Añade un margen derecho para separar el icono del texto */
}

.category-content a {
    margin-left: 2rem;
}

.rectangle {
    /* width con calc */
     
    height: 2vh;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav__responsive ul li details summary .row-category {
    margin-left: auto; /* Mueve el contenido a la derecha */;
}


.banner__responsive { /* banner__responsive__responsive de mensaje principal */
    background-color: var(--bg-primary);
    color: var(--color-text-md-light);
    padding: 0;
    margin-top: 0;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    /* display: none; */
    padding: .3rem;
}

.banner__responsive p{
    margin: 0;
    padding: .5rem;   
}

.banner__responsive span{
    color: rgb(180, 139, 14);
}



/* Mini Footer */
.footer__menu i{
    padding-right: .3rem;    
}


.us,
.social-networks,
.customer-service {
    font-weight: bold; /* Aplica negritas a los elementos con estas clases */
}


.col-II {
    display: flex;
    flex-direction: row; /* Poner 2 columnas */
}

.col-II .col {
    flex: 1; /* Asegura que cada columna ocupe el mismo espacio */    
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.line{
    width: 96%; /* Asegura que el rectángulo ocupe todo el ancho del contenedor */
    height: 1px;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;   
}

.copy-mini{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/* Footer Mobile */

.footer__responsive {
    padding: .6rem;
}

.footer__responsive a {
    color: black;
    text-decoration: none;
}

.logo-footer-responsive {
    display: flex;
    align-items: center;
}

.responsive-columns {
    display: flex;
    flex-direction: row; /* Poner 2 columnas */
    justify-content: space-between; /* Espacio entre las columnas */
    margin-top: 1rem;
}

.responsive-column {
    display: flex;
    flex-direction: column;
    flex: 1; /* Asegura que cada columna ocupe el mismo espacio */
    box-sizing: border-box; /* Incluye el padding en el ancho total */    
}

.responsive-column i {
    margin-right: .3rem;
}

.responsive-us-column {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.responsive-us-column a {
    display: flex;
    align-items: center; /* Alinea verticalmente los iconos y el texto */
    text-align: left; /* Alinea el texto a la izquierda */
    margin-bottom: 0.5rem; /* Añade un margen inferior para separar los enlaces */
}

.responsive-us-column i {
    margin-right: .4rem;
}



.responsive-us,
.responsive-social-networks,
.responsive-customer-service {
    font-weight: bold; /* Aplica negritas a los elementos con estas clases */
}

.responsive-line {
    width: 96%; /* Asegura que el rectángulo ocupe todo el ancho del contenedor */
    height: 1px;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;   
}

.responsive-copy-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: medium;
}

.elemt-footer-responsive {
    margin-top: .5rem;
}


/* Footer Desktop */
.footer__desktop {
    padding: .6rem;
    
}

.footer__desktop a {
    color: black;
    text-decoration: none;
}

.logo-footer-desktop {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.desktop-columns {
    display: flex;
    flex-direction: row; /* Poner 2 columnas */
    justify-content:space-around; /* Centra las columnas horizontalmente */
    margin-top: 1rem;
}

.desktop-column {
    display: flex;
    flex-direction: column;
    flex: 1; /* Asegura que cada columna ocupe el mismo espacio */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    max-width: 300px; /* Limita el ancho máximo de cada columna */
}

.desktop-column i {
    margin-right: .3rem;
}

.desktop-us-column {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.desktop-us-column a {
    display: flex;
    align-items: center; /* Alinea verticalmente los iconos y el texto */
    text-align: left; /* Alinea el texto a la izquierda */
    margin-bottom: 0.5rem; /* Añade un margen inferior para separar los enlaces */
}

.desktop-us-column i {
    margin-right: .4rem;
}

.desktop-us,
.desktop-social-networks,
.desktop-customer-service {
    font-weight: bold; /* Aplica negritas a los elementos con estas clases */
}

.desktop-line {
    width: 96%; /* Asegura que el rectángulo ocupe todo el ancho del contenedor */
    height: 1px;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;   
}

.desktop-copy-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: medium;
}

.element-footer-desktop {
    margin-top: .5rem;
}

/* --------- Decoraciones ------------ */

.line-div-responsive{
    width: 100%;
    height: 20px;
    background-color: var(--bg-primary);
    
    justify-content: center;
    align-items: center;    
}

