:root{

    /* Paleta de colores */
    --app-color: white;

    --color-primary: #f9f9f9;
    --color-secondary: #f9f9f9;
    --color-tertiary: #f9f9f9;   
    
    --color-title-lg: #f9f9f9;
    --color-title-md: #f9f9f9;
    --color-title-sm: #f9f9f9;

    --color-text-lg: #f9f9f9;
    --color-text-md: #000000;
    --color-text-sm: #f9f9f9;

    --color-border: #f9f9f9;

    --color-hover: #f9f9f9;
    --color-shadow: #f9f9f9;

    --color-btn: #f9f9f9;
    --color-btn-hover: #f9f9f9;

    --color-price: #f9f9f9;
    --color-heart: #f9f9f9;
    --color-cart: #f9f9f9;

    /* Tamaños base */
    --size-title-lg: 2.5rem;
    --size-title-md: 2rem;
    --size-title-sm: 1.5rem;

    --size-text-lg: 1.5rem;
    --size-text-md: 1.25rem;
    --size-text-sm: 1rem;


    /* Espaciados */
    --spacing-lg: 2rem;
    --spacing-md: 1.5rem;
    --spacing-sm: 1rem;

    /* Fuentes */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;


    /* Breakpoints */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    /* Z-index */
    --z-index-header: 1000;
    --z-index-modal: 2000;

    /* Animaciones */
    --transition: 0.3s ease-in-out;
    --transition-hover: 0.3s ease-in-out;
    --transition-modal: 0.3s ease-in-out;

    /* Border radius */
    --border-rd-lg: 1rem;
    --border-rd-md: 0.5rem;
    --border-rd-sm: 0.25rem;

    /* Box shadow */
    --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 5px 10px rgba(0, 0, 0, 0.1);
    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);

    /* Degradado */
    --gradient-main: linear-gradient(90deg, #f9f9f9 0%, #f9f9f9 100%);
    --gradient-secondary: linear-gradient(90deg, #f9f9f9 0%, #f9f9f9 100%);



}

body{
    font-family: var(--font-primary);
    background-color: var(--app-color);
    color: var(--color-text-md);

    color: var(--color-text-md);
}

a{
    /* quitar decoraciones de los a */
    text-decoration: none;
    color: var(--color-text-md);
}

li{
    list-style: none;
}

