body {
    overflow-x: hidden; /* Evita el desbordamiento horizontal en todo el cuerpo */
}

.title-section-product{
    display: none;
}

.product-select__container {
    
    width: 100%;
    padding: 1rem;
    padding-top: 0;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

.navegation-bar-position a{
    color: gray;
    font-size: small;
    text-decoration: none;
    padding-right: .5rem;
}

.navegation-bar-position i{
    font-size: small;
    font-weight: lighter;
    color: gray;
}

.navegation-bar-position a:hover{
    cursor: pointer;
    color: black;
}

.card-product-desktop{
    
    padding: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 50vh;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-left-product{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


.img-top {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.img-top img {
    width: 100%; /* Permite que la imagen mantenga su proporción */
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    object-fit: scale-down;
}

.cols-img-bottom {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.col-img-bt {
    width: 33%;
    height: 10vh;
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.col-img-bt img {
    width: 100%; /* Permite que la imagen mantenga su proporción */
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    object-fit: scale-down;
}




.details-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 1rem;
    padding: 3rem;
    padding-top: 0;
    box-sizing: border-box;
}

.caracteristic-title{
    border: solid 1px rgb(192, 189, 189);
    border-radius: 10px;
    padding-left: .5rem;
    margin: 0;
    color: rgb(76, 74, 74);
    margin-bottom: 1rem;
}

.caracteristic-description{
    border: solid 1px rgb(192, 189, 189);
    height: 20vh;
    padding-left: .5rem;
    margin: 0;
    color: rgb(76, 74, 74);
    margin-bottom: 1rem;
}

.measure-title{
    border: solid 1px rgb(192, 189, 189);
    border-radius: 10px;
    padding-left: .5rem;
    margin: 0;
    color: rgb(76, 74, 74);
    margin-bottom: 1rem;
}

.measure-description{
    border: solid 1px rgb(192, 189, 189);
    height: 20vh;
    padding-left: .5rem;
    margin: 0;
    color: rgb(76, 74, 74);
    margin-bottom: 1rem;
}

.product-add{
    padding: .5rem;
    background-color: #000;
    border-radius: 5px;
}

.product-add a{
    color: white;
    text-decoration: none;
    transition: .5s;
}

.title-product{
    font-size: 3rem;
    color: gray;
    padding: 0;
    margin: 0;
    margin-top: -2.8rem;
}

.rate-product{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: -1rem;
}

.rate-product i{
    font-size: 2rem;
    color: white;
    filter: drop-shadow(0 0 1px black);
}

.rang-1, .rang-2 , .rang-3, .rang-4{
    color: rgb(8, 8, 8) !important; /* Usa !important para asegurar que este estilo se aplique */
}

.product-price{
    font-size: 2.2rem;
    color: gray;
    padding: 0;
    margin: 0;
    margin-top: -1rem;
}

.product-description-card{
    font-size: 1rem;
    margin-top: -2rem;
}

.product-event{
    display: flex;
    flex-direction: row;
    
    gap: 1rem;
}

.product-counter{
    font-size: 2.3rem;
    color: gray;
}

.product-add{
    padding: .5rem;
    background-color: #000;
    border-radius: 5px;
}

.product-add a{
    color: white;
    text-decoration: none;
    transition: .5s;
}

.line-divider-small{
    width: 100%;
    margin-bottom: 10vh;
    margin-top: 5vh; 
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.line-divider-small span{
    display: flex;
    width: 100%;
    height: 1px;
    background-color: gray;

}


@media (max-width: 576px) {

    .card-product-desktop{
        display: none;
    }

    .title-section-product{
        display: flex;
    }

    .product-select__container {
        
        width: 100%;
        padding: 1rem;
        padding-top: 0;
        box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
        overflow-x: hidden; /* Evita el desbordamiento horizontal */
    }

    .navegation-bar-position a{
        color: gray;
        font-size: small;
        text-decoration: none;
        padding-right: .5rem;
    }

    .navegation-bar-position i{
        font-size: small;
        font-weight: lighter;
        color: gray;
    }

    .navegation-bar-position a:hover{
        cursor: pointer;
        color: black;
    }

    .card-product-main{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        padding-top: 0;
        justify-content: center;
        box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
        align-items: center;
    }

    .title-product{
        font-size: 2rem;
        color: gray;
        padding: 0;
        margin: 0;
    }

    .product-img{
        width: 100%;
        height: 25vh;
        box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
        margin-top: -2rem;
        align-content: center;
        justify-content: center;
    }

    .product-img img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .paggination-img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem;
        padding-bottom: 0;
        box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
        gap: .8rem;
    }

    .paggination-img i {
        color: white;
        filter: drop-shadow(0 0 1px black);
        font-size: 10px;
    }
    
    .paggination-position-1 {
        color: gray !important; /* Usa !important para asegurar que este estilo se aplique */
    }

    .paggination-img i:hover{
        cursor: pointer;
        color: gray !important; /* Usa !important para asegurar que este estilo se aplique */
    }


    .product-price{
        font-size: 1.8rem;
        color: gray;
        padding: 0;
        margin: 0;
        margin-top: -1rem;
    }

    .product-event{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        gap: 1rem;
    }

    .product-counter{
        font-size: 1.5rem;
        color: gray;
    }

    .product-add{
        padding: .5rem;
        background-color: #000;
        border-radius: 5px;
    }

    .product-add a{
        color: white;
        text-decoration: none;
        transition: .5s;
    }

    .caracteristic-title{
        border: solid 1px rgb(192, 189, 189);
        border-radius: 10px;
        padding-left: .5rem;
        margin: 0;
        color: rgb(76, 74, 74);
        margin-bottom: 1rem;
    }

    .caracteristic-description{
        border: solid 1px rgb(192, 189, 189);
        height: 20vh;
        padding-left: .5rem;
        margin: 0;
        color: rgb(76, 74, 74);
        margin-bottom: 1rem;
    }
    
    .measure-title{
        border: solid 1px rgb(192, 189, 189);
        border-radius: 10px;
        padding-left: .5rem;
        margin: 0;
        color: rgb(76, 74, 74);
        margin-bottom: 1rem;
    }

    .measure-description{
        border: solid 1px rgb(192, 189, 189);
        height: 20vh;
        padding-left: .5rem;
        margin: 0;
        color: rgb(76, 74, 74);
        margin-bottom: 1rem;
    }

     .pop-pup-product {
        /* display: flex;  */  /* Este activalo con el condicional */
        flex-direction: column;
        position: fixed; /* Posiciona el pop-up de manera fija */
        top: 0; /* Alinea el pop-up al borde superior de la pantalla */
        left: 0; /* Alinea el pop-up al borde izquierdo de la pantalla */
        width: 100%; /* Abarca el 100% del ancho de la pantalla */
        height: 100%; /* Abarca el 100% del alto de la pantalla */
        background-color:  white;/* Fondo semi-transparente */
        
        z-index: 1000; /* Asegura que el pop-up esté por encima de otros elementos */
        padding: 1rem;
    }

    .title-pop{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        box-sizing: border-box;
        padding: 1rem;
    }

    .title-pop i{
        font-size: 1.5rem;
        color: gray;
    }

    .title-pop p {
        font-size: 2rem;
        
        padding-top: 5rem;
        color: gray;
    }
    

    .img-main-pop{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-right: 2.5rem;
        padding-top: 0;
        box-sizing: border-box;
        width: 100%;
        height: 30vh;
    }

    .img-main-pop img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .col-2-secundary{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-right: 2.5rem;
        margin-top: -1.5rem;
        box-sizing: border-box;
        width: 100%;
    }

    .col-secundary-img{
        width: 33%;
        height: 10vh;
        box-sizing: border-box;
    }

    .col-secundary-img img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .details-product{
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
    }
    
}